<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for API calls -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Queries để có thể mở apps khác -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <!-- MoMo app deep link -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="momo" />
        </intent>
    </queries>

    <application
        android:name=".IRequestApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Irequest"
        android:usesCleartextTraffic="true">

        <!-- Facebook Configuration -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <!-- Splash Activity - Launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding Activity -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Work Activity -->
        <activity
            android:name=".WorkActivity"
            android:exported="false" />

        <!-- Chat Activity -->
        <activity
            android:name=".ChatActivity"
            android:exported="false" />

        <!-- Select User Activity -->
        <activity
            android:name=".SelectUserActivity"
            android:exported="false"
            android:parentActivityName=".ChatActivity" />

        <!-- Chat Detail Activity -->
        <activity
            android:name=".ChatDetailActivity"
            android:exported="false"
            android:parentActivityName=".ChatActivity" />

        <!-- Alerts Activity -->
        <activity
            android:name=".AlertsActivity"
            android:exported="false" />

        <!-- Account Activity -->
        <activity
            android:name=".AccountActivity"
            android:exported="false" />

        <!-- Security and Privacy Activity -->
        <activity
            android:name=".SecurityPrivacyActivity"
            android:exported="false"
            android:parentActivityName=".AccountActivity" />

        <!-- Personal Information Activity -->
        <activity
            android:name=".PersonalInformationActivity"
            android:exported="false"
            android:parentActivityName=".AccountActivity" />

        <!-- Terms of Use Activity -->
        <activity
            android:name=".TermsOfUseActivity"
            android:exported="false" />

        <!-- Privacy Policy Activity -->
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false" />

        <!-- Personal Data Policy Activity -->
        <activity
            android:name=".PersonalDataPolicyActivity"
            android:exported="false" />

        <!-- Calendar Activity -->
        <activity
            android:name=".CalenderActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

        <!-- Payment Activity -->
        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <!-- Deep link để nhận callback từ MoMo -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="irequest"
                    android:host="payment" />
            </intent-filter>
        </activity>

        <!-- Payment Result WebView Activity -->
        <activity
            android:name=".PaymentResultActivity"
            android:exported="false"
            android:parentActivityName=".PaymentActivity" />

        <!-- Payment History Activity -->
        <activity
            android:name=".PaymentHistoryActivity"
            android:exported="false"
            android:parentActivityName=".PaymentActivity" />

        <!-- Requests Activity -->
        <activity
            android:name=".RequestsActivity"
            android:exported="false" />

        <!-- Create Request Activity -->
        <activity
            android:name=".CreateRequestActivity"
            android:exported="false"
            android:parentActivityName=".RequestsActivity" />

        <!-- Request Detail Activity -->
        <activity
            android:name=".RequestDetailActivity"
            android:exported="false"
            android:parentActivityName=".RequestsActivity" />

        <!-- Task Detail Activity -->
        <activity
            android:name=".TaskDetailActivity"
            android:exported="false"
            android:parentActivityName=".WorkActivity" />

        <!-- Department Activity -->
        <activity
            android:name=".DepartmentActivity"
            android:exported="false" />

        <!-- Employee Activity -->
        <activity
            android:name=".EmployeeActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

        <!-- Employee Detail Activity -->
        <activity
            android:name=".EmployeeDetailActivity"
            android:exported="false"
            android:parentActivityName=".EmployeeActivity" />

        <!-- Add/Edit Employee Activity -->
        <activity
            android:name=".AddEditEmployeeActivity"
            android:exported="false"
            android:parentActivityName=".EmployeeActivity" />

        <!-- Add Process Activity -->
        <activity
            android:name=".AddProcessActivity"
            android:exported="false"
            android:parentActivityName=".ProcessManagementActivity" />

        <!-- Process Detail Activity -->
        <activity
            android:name=".ProcessDetailActivity"
            android:exported="false"
            android:parentActivityName=".ProcessManagementActivity" />

        <!-- Report Activity-->
        <activity android:name=".ReportActivity" />

        <!--Smart
        Analysis Activity-->
        <activity android:name=".SmartAnalysisActivity" />

        <!-- Process Management Activity -->
        <activity
            android:name=".ProcessManagementActivity"
            android:exported="false" />


        <!-- Process Step Management Activity -->
        <activity
            android:name=".ProcessStepManagementActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />


    </application>

</manifest>